body,
html {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

a:link,
a:hover,
a:active,
a:visited {
    color: rgb(0, 0, 0);
}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

