body,
html {
    background-color: yellow;
}

a,
a:link,
a:hover, 
a:active,
a:visited {
    color: black;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

